In [9]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from scipy.stats import pearsonr, spearmanr

from env import get_db_url
import wrangle as w
import prepare as p
import matplotlib as mpl
mpl.rcParams["axes.formatter.useoffset"] = False
#import sklearn mean_square_error
from sklearn.metrics import mean_squared_error
#import r2_score from sklearn
from sklearn.metrics import r2_score
import sklearn.preprocessing

## 1.) Load your zillow dataset.

In [10]:
df = w.get_zillow_2017
df = w.wrangle_zillow()

In [11]:
df = df.drop(columns=['county'])

AttributeError: 'NoneType' object has no attribute 'drop'

In [4]:
df.head()

    bedrooms  bathrooms  finished_area  home_value  year_built  tax_amount
4          4        2.0           3633      296425        2005     6941.39
6          3        4.0           1620      847770        2011    10244.94
7          3        2.0           2077      646760        1926     7924.68
11         0        0.0           1200        5328        1972       91.60
14         0        0.0            171        6920        1973      255.17

In [5]:
train, validate, test = w.split_continuous(df)

Train: 0.5599997196569536
Validate: 0.24000028034304643
Test: 0.2

## 2.) Fit a linear regression model (ordinary least squares) and compute yhat, predictions of taxvaluedollarcnt using only calculatedfinishedsqft.

In [6]:
train.drop(columns=['bedrooms', 'bathrooms', 'year_built', 'tax_amount'])

         finished_area  home_value
1937068           2154      910679
1201703           1224       66845
751562            2358      247161
235077            1513       70917
1991181           2004      711410
...                ...         ...
1623860           1461       63411
632529            2546      472017
2013671           1195      234096
588048            1706      151008
1872760           1579      415534

[1198531 rows x 2 columns]

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
mms=MinMaxScaler()

train['finished_area'] = mms.fit_transform(train[['finished_area']])

In [9]:
X_train = train[['finished_area']]
y_train = train.tax_value

X_validate = validate[['finished_area']]
y_validate = validate.tax_value

X_test = test[['finished_area']]
y_test = test.tax_value

AttributeError: 'DataFrame' object has no attribute 'tax_value'